@font-face {
  font-family: "Gloock";
  src: url(./assets/fonts/Gloock-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: row;
  font-family: "Gloock", Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
  font-weight: 350;
  font-size: 1.5vw;

  color-scheme: light dark;
  color: #fff2f2;
  background-image: linear-gradient(to bottom, #560101, #2a0000);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f9a3a3;
  text-decoration: inherit;
}
a:hover {
  opacity: 0.5;
  color: #fb8585;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  width: 50%;
  flex: 1 1 0;
  flex-direction: row;
  font-size: 5em;
  line-height: 1.1;
}

.TodoContainer {
  flex-direction: column;
  flex: 1 1 0;
}

button {
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 1em 1.4em;
  margin: 0 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #560101;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fff2f2;
    background-image: linear-gradient(to bottom, #aa0f0f, #560101);
  }
  button {
    color: #fff2f2;
    background-color: transparent;
  }
}

@media (max-width: 965px) {
  #root {
    display: block;
    font-size: 16px;
  }
  h1 {
    flex-basis: 100%;
  }
  .TodoContainer {
    flex-basis: 100%;
  }
}

@media (max-width: 550px) {
  #root {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  #root {
    font-size: 11px;
  }
  .TodoContainer {
    text-wrap: nowrap;
  }
}
